// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
	font-family: "Helvetica";
	font-size: 64px;
	color:#a32638;
	text-shadow: 1px 2px 3px #89202F;
}

h3 {
	font-family: "Helvetica";
	font-weight:100;
	font-style:italic;
	font-size: 20px;
	text-shadow: 1px 1px 2px #000000;
}

p {
	font-family: "Helvetica";
	font-weight:100;
}